{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}

      {% endblock %}
    </title>
    {% include 'css_loader.html' %}
  </head>
  <body class="bg-gray-50 min-h-screen antialiased text-gray-900 flex flex-col">
    <nav class="bg-white shadow border-b border-gray-200">
      <div class="max-w-7xl mx-auto px-6 h-16 flex items-center justify-between">
        <h1 class="text-xl font-semibold tracking-wide text-center sm:text-left w-full">Event Management System</h1>
        <a href="{% url 'home' %}" class="px-5 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition hidden sm:inline-block">Home</a>
      </div>
    </nav>
    <main class="flex-grow min-h-[calc(100vh-64px-80px)]">
      {% block dashboard %}

      {% endblock %}
    </main>

    <footer class="bg-white shadow-lg border-t border-gray-300">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center">
        <p class="text-sm sm:text-base text-gray-600">© 2025 Arnab Saha</p>
      </div>
    </footer>
  </body>
</html>
