Django==5.2.8
asgiref==3.11.0
sqlparse==0.5.4
tzdata==2025.2

dj-database-url==3.0.1
psycopg2-binary==2.9.11

gunicorn==23.0.0

whitenoise==6.11.0

pillow==12.0.0

python-dotenv==1.2.1

django-tailwind==4.4.1
pytailwindcss==0.3.0

django-anymail==14.0