{% extends 'form/create-form.html' %}

{% block create %}
  <div class="space-y-6">
    <p>
      <a href="{% url 'events:view-all' %}?type=participant" class="px-5 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 transition">Back</a>
    </p>
    <div class="lg:w-1/2 mx-auto">
      {% include 'messages.html' %}

      <form method="post" class="space-y-4">
        {% csrf_token %}
        <div>{{ participant_form.name.label_tag }}
          {{ participant_form.name }}</div>

        <div>{{ participant_form.email.label_tag }}
          {{ participant_form.email }}</div>

        <div>
          {{ participant_form.events.label_tag }}
          <div class="border rounded-lg p-3 h-64 overflow-y-scroll shadow-inner">{{ participant_form.events }}</div>
        </div>
        <button type="submit" class="px-5 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition w-full font-medium">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
