{% extends 'home-layout.html' %}

{% block title %}
  Register - Event Management System
{% endblock %}

{% block home_layout %}
  <section class="max-w-7xl mx-auto px-6 py-10 space-y-10">
    <div class="space-y-6">
      <p>
        <a href="{% url 'core:home' %}" class="px-5 py-2 bg-blue-600 text-white rounded shadow hover:bg-blue-700 transition">Back</a>
      </p>
      <div class="lg:w-1/2 mx-auto">
        {% include 'messages.html' %}

        <form method="post" class="space-y-4">
          {% csrf_token %}
          {% for field in register_form %}
            <div>
              {{ field.label_tag }}
              {{ field }}

              {% if field.errors %}
                <p class="text-sm text-red-600 mt-1">{{ field.errors|striptags }}</p>
              {% endif %}
            </div>
          {% endfor %}

          {% if register_form.non_field_errors %}
            <div>
              {% for error in register_form.non_field_errors %}
                <p class="text-sm text-red-600 mt-1">{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
          <button type="submit" class="px-5 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition w-full font-medium">Register</button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
