{% extends 'profile/profile.html' %}

{% block profile_content %}
  <h1 class="text-xl font-semibold mb-6">Change Password</h1>
  <div class="lg:w-2/3 mx-auto">
    {% include 'messages.html' %}

    <form method="post" class="space-y-4">
      {% csrf_token %}
      {% for field in form %}
        <div>
          {{ field.label_tag }}
          {{ field }}

          {% if field.errors %}
            <p class="text-sm text-red-600 mt-1">{{ field.errors|striptags }}</p>
          {% endif %}
        </div>
      {% endfor %}

      {% if form.non_field_errors %}
        <div>
          {% for error in form.non_field_errors %}
            <p class="text-sm text-red-600 mt-1">{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}
      <button type="submit" class="px-5 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition w-full font-medium">Update Password</button>
    </form>
  </div>
{% endblock %}
